*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
}

.clock{
    height: 200px;
    width: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    color: chocolate;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#copyright {
    font-size: 14px;
}